*.cache
__pycache__
*.pyc
*.pyd
*.pyi

# Binaries
*.h5
*.hdf5

# Output
*.mdpa
*.time

# WRApplication root dir
/*
!/docs
!/include
!/packages
!/python_bindings
!/python_scripts
!/tests
!/.gitignore
!/CMakeLists.txt
!/WRApplication*.cpp
!readme.md
